<section class="section-content section-intro" id="section-intro">
  <div class="row">
    <div class="span6">
      <h1 class="section-title">
        the first responsive template with vertical navigation
        <small>Cras justo odio, dapibus ac facilisis in, egestas eget quam fusce dapibus</small>
      </h1>
      <p><a href="features.php" class="btn btn-primary btn-large">Features</a></p>
    </div>
  </div>
  <br /><br /><br />
  <div class="row">
    <div class="span3">
      <h4><i class="icon-food"></i>laborum</h4>
      <p>Ut dolores omnis doloremque laborum mollitia sunt nam eos inventore ex in.</p>
    </div>
    <div class="span3">
      <h4><i class="icon-glass"></i>aliquam</h4>
      <p>Error, rem amet aliquam iste! Assumenda, natus explicabo numquam optio magni nam.</p>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <h4><i class="icon-coffee"></i>explicabo</h4>
      <p>Distinctio illum fugiat consequatur odit inventore non laudantium quod dolorem.</p>
    </div>
    <div class="span3">
      <h4><i class="icon-pushpin"></i>blanditiis</h4>
      <p>Molestiae, iste, quos blanditiis officia vero deserunt dignissimos consectetur.</p>
    </div>
  </div>
</section>
