<header class="span3">
  <div class="affix">
    <div class="navbar span3">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
          <i class="icon-reorder"></i>
        </a>
        <%= link_to '<span>#{robz}</span>'.html_safe, root_path, :class => 'brand span2' %>
        
        <nav class="nav-collapse collapse">
          <ul class="nav">
            <%= render 'shared/menu/registration' %>
            <%= render 'shared/menu/login' %>
            <li class="nav-home"><%= link_to("Home", root_path, :class => 'nav-home') %></li>
          
          </ul>
        </nav>
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
    <aside class="span3 text-center hidden-phone">
      <ul class="social inline">
        <li><a class="btn btn-small" href="https://github.com/robzdc/"><i class="icon-github"></i></a></li>
        <li><a class="btn btn-small" href="https://twitter.com/robzdc"><i class="icon-twitter"></i></a></li>
        <li><a class="btn btn-small" href="http://www.linkedin.com/profile/view?id=91128472"><i class="icon-linkedin"></i></a></li>
      </ul>
      <p><a href="http://robzdc.com">robzdc</a></p>
    </aside>
  </div><!-- /affix -->
</header>